<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>测试thymeleaf</title>
</head>
<body>

    <div th:object="${stu}">
        姓名：<span th:text="*{code}"></span><br>
        密码：<span data-th-text="*{pass}"></span><br>
        年龄：<span th:text="*{age}"></span><br>
        颜色：<span th:utext="*{color}"></span>
    </div>
    <!-- 可以调用字符串截取，分割等函数-->
    <span th:text="${stu.code.substring(1)}"></span><br>
    <span th:text="${stu.code.split('')[1]}"></span><br>

    <!--  字符串字面值     -->
    <span th:text="'666'"></span><br>

    <!-- 数字字面值-->
    <span th:text="521*2"></span><br>

    <!--布尔字面值-->
    <span th:if="${stu.age>= 19}">
        成年了
    </span><br>

    <!--拼接-->
    <span th:text="|你好${stu.code}真的6666|"></span><br>

    <span th:text="${stu.age} *2"></span><br>

    <!--三元运算-->
    <span th:text="${stu.age}>=21? '你好呀':'滚蛋'"></span><br>

    <!--非空判断  ${stu.code}?:''   注： ?:  之间没有空格-->
    <span th:text="${stu.code} ?: ''"></span>



</body>
</html>